
.loginmodal-container{
	padding: 30px;
	max-width: 350px;
	width: 100%;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.loginmodal-container h1{
	text-align: center;
	font-size: 1.8em;
}

.loginmodal{
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
}

.login-help{
	font-size: 15px;
}

.custom-btn{
	width: 200px !important;
}

.footer-text{
	font-size: 12px;
	margin: 0 ;
}

.item-text{
	font-size: 15px;
}

.footer-class{
  background-color: #1b0000;
  color: white;
  padding: 20px;
  height: 200px;
}

.copyright > .footer-text > a{
	color: white;
}

.btn-category {
  color: #1b0000;
  background-color: #1b0000;
  border-color: #1b0000;
}

.select-card:hover{
	cursor: grab;
}

.mini-category{
	border-radius: 50%;
}

.checked{
	color: orange;
}